.button {
    background-color: #09814a;
    border: 1px solid #2d4739;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    
    /* width: 100%; */
    padding: 15px 0;

    cursor: pointer;
}